<div id="<%= dom_id hour %>">
  <p>
    <strong>Day:</strong>
    <%= hour.day %>
  </p>

  <p>
    <strong>Opens:</strong>
    <%= hour.opens %>
  </p>

  <p>
    <strong>Closes:</strong>
    <%= hour.closes %>
  </p>

</div>
