<div id="<%= dom_id hour %>">

  <div class="container"> 
    <div class="row">

      <div class="col">
        <p>
          <strong>Day:</strong>
          <%= hour.day %>
        </p>

      </div>
      <div class="col">
        <p>
          <strong>Opens:</strong>
          <%= hour.opens %>
        </p>
      </div>

      <div class="col">
        <p>
          <strong>Closes:</strong>
          <%= hour.closes %>
        </p>
      </div>

    </div>
  </div>
</div>