




<div class="container">
<%= link_to "List Organizations", "organizations", class: "btn btn-primary" %><br>
<%= link_to "Create New Organization", new_organization_path, class: "btn btn-primary" %><br>
  <h1>Lighthouse Demo</h1>
</div>